@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.input-label {
  display: block;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin-top: 1rem;
  width: 100%;
  resize: none;
}

.submit-button {
  margin-top: 1rem;
  background-color: rgb(74, 130, 202);
  color: white;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.hide {
  display: none;
}

.result {
  text-align: center;
  margin-top: 2rem;
}

/* navbar */

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.title a {
  font-size: 35px;
  font-weight: 800;
  float: left;
  font-family: "Lobster";
  color: white;
}

.menu {
  float: right;
}

header {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #344cb7;
  z-index: 1;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

header ul li {
  float: left;
  font-family: sans-serif;
}

header ul li a {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  transition: font-size 200ms;
}

.active {
  color: #fff;
  font-weight: 800;
}

header ul li a:hover {
  font-size: 1.1em;
}

.logo {
  height: 60vh;
  background-image: url(../img/Tengah.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:after {
  display: block;
  position: absolute;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: black;
}

.kolom p {
  text-align: justify;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

section h3 {
  text-align: center;
  padding: 20px 0;
  color: #000;
}

textarea {
  padding: 1rem 1rem;
}

footer {
  padding: 30px 0;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 15rem;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }
}
